<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Symfony News Demo - Admin{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/AdminBundle/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/AdminBundle/design.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/CoreBundle/helpers.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/AdminBundle/notification.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/AdminBundle/modal.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/CoreBundle/notification.js') }}"></script>
            <script src="{{ asset('js/CoreBundle/modal.js') }}"></script>
            <script src="{{ asset('js/CoreBundle/ajax.js') }}"></script>
        {% endblock %}
    </head>
    <body class="d-flex flex-flow-column justify-content-between align-items-center h-100vh">

    {% block header %}
        <header>
            <div class="d-flex justify-content-start align-items-center gap-20">
                <img src="{{ asset('images/CoreBundle/symfony-logo.svg') }}" alt="logo" class="logo">
                <h3 class="title">Symfony News Demo / Admin</h3>
            </div>
        </header>
    {% endblock %}

    <main class="d-flex justify-content-start fl-grow-1">
        <nav class="sidenav">
            <ul>
                <li><a href="/phpinfo.php"><i class="fa fa-info-circle"></i>PHP info</a></li>
                <li><a href="{{ path('public.news.list') }}"><i class="fa fa-eye"></i>Public</a></li>
                <li></li>
                {% if app.user %}
                    <li><a href="{{ path('admin.news.categories') }}"><i class="fa fa-tags"></i>Categories</a></li>
                    <li><a href="{{ path('admin.news.list') }}"><i class="fa fa-newspaper-o"></i>News</a></li>
                    <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
                    <li><a href="#"><i class="fa fa-bar-chart"></i>Statistics</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                    <li><a href="#"><i class="fa fa-cogs"></i>Advanced</a></li>
                {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('admin_logout') }}"><i class="fa fa-sign-out"></i>Log out</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    {% block footer %}
        <footer>
            <p>&copy; {{ "now"|date("Y") }} Symfony News Demo</p>
        </footer>
    {% endblock %}

    <div class="notification-container" id="notification-container"></div>

    </body>
</html>